@model Northwind_MCV.Models.ProductViewModel

@{
    ViewBag.Title = "ProductForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductForm</h2>
<br />

@using (Html.BeginForm("ProductSave", "Product", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x=>x.Product.ProductName)
        @Html.TextBoxFor(x => x.Product.ProductName,new {@class="form-control" })
        @Html.Label("Product.SupplierID","Supplier")
        @Html.DropDownList("Product.SupplierID",new SelectList(Model.Supplier, "SupplierID", "CompanyName"),new {@class="form-control"})
        @Html.Label("Product.CategoryID","Category")
        @Html.DropDownList("Product.CategoryID",new SelectList(Model.Category, "CategoryID", "CategoryName"),new {@class="form-control" })
        @Html.LabelFor(x=>x.Product.QuantityPerUnit)
        @Html.TextBoxFor(x => x.Product.QuantityPerUnit,new {@class="form-control"})
        @Html.LabelFor(x => x.Product.UnitPrice)
        @Html.TextBoxFor(x => x.Product.UnitPrice, new { @class = "form-control" })
        @Html.LabelFor(x => x.Product.UnitsInStock)
        @Html.TextBoxFor(x => x.Product.UnitsInStock, new { @class = "form-control" })
        @Html.LabelFor(x => x.Product.UnitsOnOrder)
        @Html.TextBoxFor(x => x.Product.UnitsOnOrder, new { @class = "form-control" })
        @Html.LabelFor(x => x.Product.ReorderLevel)
        @Html.TextBoxFor(x => x.Product.ReorderLevel, new { @class = "form-control" })
        @Html.LabelFor(x => x.Product.Discontinued)
        @Html.TextBoxFor(x => x.Product.Discontinued, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(x=>x.Product.ProductID)
    <button class="btn btn-success"type="submit">Kaydet</button>
}

